%h4
  Usuarios
.row
  .span12
    %a{:class => "btn btn-mini btn-primary pull-right", :href => "/admin/users/new"}
      Nuevo Usuario
    %br
    %hr
.row
  .span12
    - if @users.any?
      %table.table.table-condensed
        %thead
          %tr
            %th
              Creado
            %th
              Email
            %th
              Acciones
        %tboby
          - @users.each do |user|
            %tr
              %td
                = user.created_at.strftime("%d-%m-%Y") rescue ""
              %td
                = user.email
              %td.span3
                %a{:href=>"/admin/users/#{user.id}", :class => "btn btn-mini"}
                  Ver
                %a{:href=>"/admin/users/#{user.id}/edit", :class => "btn btn-mini btn-success"}
                  Editar
                %form{:action => "/admin/users/#{user.id}", :method => "post", :onsubmit => "return confirm('Are you sure you want to delete?');", :class => "btn-delete"}
                  %input{:type => 'submit', :name=> "_method", :value => 'delete', :class => 'btn btn-mini btn-danger pull-right'}
    - else
      .alert.alert-success
        %button.close{type: "button", data:{dismiss: "alert"}}
          &times;
        No hay usuarios
