!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title 
      Envíos masivos y newsletters - #{yield_content(:title)}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap-responsive.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "css/bamailer.css", :media => "screen", :rel => "stylesheet"}/
  %body
    .container
      = partial 'menu'
      - if flash[:error]
        .alert.alert-error
          %button.close{type: "button", data:{dismiss: "alert"}}
            &times;
          = flash[:error]

      - if flash[:notice]
        .alert.alert-success
          %button.close{type: "button", data:{dismiss: "alert"}}
            &times;
          = flash[:notice]
      = partial 'sub_header'
      %hr/
      = yield
      = partial 'footer'